<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>ssq - magicbox</title>
  <link rel="stylesheet"  href="css/main.css" />
  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="js/navbar.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    // convert
    $("#ssq_generate").click(function() {
        var type = {"c":"ssq","flag":1};
        var result = magicbox.generate(type, "20130906");
        var old_val = $("#ssq_result").val();
        if (old_val) {
            $("#ssq_result").val(old_val + "\n" + result);
        }
        else {
            $("#ssq_result").val(result);
        }
        $("#ssq_result").trigger('keyup');
    });
});
</script>
</head>
<body>
<div id="ssq" data-role="page">
  <div data-role="navbar">
  </div><!-- /navbar -->
  <div data-role="content">
    <button id="ssq_generate" data-role="button" data-inline="true">赐我号码！</button>
    <br />
    <textarea id="ssq_result" class="text"></textarea>
  </div><!-- /content -->
  <div data-role="footer">
    <a href="index.html">首页</a>
  </div><!-- /footer -->
</div><!-- /page -->
</body>
</html>
