[data-role="navbar"] {
  float: left;
  background-image: url(theme/nav_bg.jpg);
  width: 100%;
}
[data-role="navbar"] ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
[data-role="navbar"] ul li {
  float: left;
  line-height: 24px;
  margin: 0;
  padding: 2px 20px 0 15px;
}

[data-role="content"] {
  float: left;
  width: 100%;
}
